@{
    ViewBag.Title = "Home Page";
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Watch like 
                a superhero</h1>
            <h2 class="masthead-subheading mb-0">Instantly Rent movies and TV shows. Anytime, anywhere without a subscription. Pay only for what you choose to rent by choosing your subscription type</h2>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<div>
    <br/>
</div>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://images-na.ssl-images-amazon.com/images/I/81o%2BzjZ4KHL._SY679_.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Avengers-EndGame</h2>
                    <p>The grave course of events set in motion by Thanos that wiped out half the universe and fractured the Avengers ranks compels the remaining Avengers to take one final stand in Marvel Studios' grand conclusion to twenty-two films, "Avengers: Endgame."</p>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://images-na.ssl-images-amazon.com/images/I/71SH0MJkciL._SY679_.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Ant-Man</h2>
                    <p>Armed with a super-suit with the astonishing ability to shrink in scale but increase in strength, cat burglar Scott Lang must embrace his inner hero and help his mentor, Dr. Hank Pym, plan and pull off a heist that will save the world.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://popculturehangover.files.wordpress.com/2019/01/a1m0qlxno6l._sy679_.jpg?w=462" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Mission: Impossible – Fallout</h2>
                    <p>Fallout is a non-stop thrill ride filled with incredibly filmed action sequences and a familiar cast of characters filling out the IMF team.  The team of Ving Rhames, Simon Pegg, Alec Baldwin, and others have this rapport built up from their years of Mission Impossible experience working with one another.  The numerous team members also have a healthy dose of comedic interplay between them that give a levity to the otherwise especially serious situations going on.  The dire circumstances are a tense and heavy when need be but they don’t overwhelm the rest of the story like they might otherwise.</p>
                </div>
            </div>
        </div>
    </div>
</section>