@{
    ViewBag.Title = "Home Page";
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">One Page Wonder</h1>
            <h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<div>
    <br/>
</div>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://asia.bettshow.com/sites/asia.bettshow.com/files/styles/icon-big/public/Ridwan-photo_expo-theatres-%28sponsor%29.docx_.jpg?itok=TGyaWTku" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Movie Name</h2>
                    <p>Movie Details</p>
                </div>
            </div>
        </div>
    </div>
</section>