<appSettings>

  <add key="FacebookAppId" value="267126907529075" />
  <add key="FacebookAppSecret" value="e74393c4d8f5d286aa5ccca8f0f4cf06" />

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>